*{
    margin: 0; 
    padding: 0;
 }
 body{
    font-family: 'Poppins', sans-serif;
 }
 
 .cabecalho {
     background-color: #85a389;
     color: #000000;
     display: flex;
     justify-content: space-around;
     text-align: center;
     padding: 34px 0;
 }
 
 .cabecalho-imagem{
     width: 20%;
 }
 
 .cabecalho-lista-item{
     display: inline-block;
     margin: 0 16px;
     font-size: 24px;

 }

 .cabecalho{
    background-image: linear-gradient(#637a66, #82a57a);
 }

 .secao-1{
    background-image: linear-gradient(#82a57a, #82a57a);
    display: flex;
 }
 
 .escola-div-conteudo{
    width: 85%;
    text-align: center;
   margin: 0 94px;
 }
    